button {
  width: 100%;
  border-radius: 25px;
  font-size: 20px;
  height: 40px;

  &:nth-of-type(1) {
    background-color: green;
    color: white;
  }

  &:nth-of-type(2) {
    background-color: white;
    color: green;
  }
}
